@model ToDoRelationships.Models.Category

@{
    ViewData["Title"] = "Category - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Category Details</h2>
<hr />

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)

<p>@Html.ActionLink("Edit", "Edit", new { id = Model.CategoryId }) | @Html.ActionLink("Back to List", "Index")</p>
